/* ==========================================================================
   #FONTS
   ========================================================================== */
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* ==========================================================================
   #RESET STYLES
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/* ==========================================================================
   #BASE STYLES
   ========================================================================== */
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #fff;
  overflow-x: hidden;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

::-webkit-input-placeholder {
  color: #7c7c7c;
  opacity: 1;
}

::-moz-placeholder {
  color: #7c7c7c;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #7c7c7c;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #7c7c7c;
  opacity: 1;
}

::placeholder {
  color: #7c7c7c;
  opacity: 1;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.container {
  padding-left: 14px;
  padding-right: 14px;
}

@media (min-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 900px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 76px;
    padding-right: 76px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.container-fluid {
  width: 100%;
}

.flex-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.error {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.875rem;
  color: red;
  text-align: center;
}

/* ==========================================================================
   #BASIC TYPOGRAPHY STYLES
   ========================================================================== */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: normal;
  color: #353535;
}

/* ==========================================================================
   #HELPERS
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   #HEADER
   ========================================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}

.header .flex-row {
  height: 70px;
  -webkit-box-align: center;
          align-items: center;
}

/* ==========================================================================
   #MENU
   ========================================================================== */
.menu-primary {
  display: none;
}

@media (min-width: 1200px) {
  .menu-primary {
    display: -webkit-box;
    display: flex;
  }
}

.menu-primary__item {
  margin-right: 6vw;
}

.menu-primary__item:last-child {
  margin-right: 0;
}

.menu-primary__link {
  position: relative;
  display: block;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-weight: 500;
  font-size: 1rem;
  color: #000;
}

.menu-primary__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0%;
  height: 1px;
  border-top: 1px solid #000;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}

.menu-primary__link:hover::after {
  width: 100%;
}

/* #MOBILE-NAV
   ========================================================================== */
.mobile-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  text-align: center;
}

.mobile-nav.is-open {
  display: block;
  background-color: rgba(255, 255, 255, 0.95);
}

.mobile-nav.is-open:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.mobile-nav .container {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.mobile-nav.is-open .container {
  visibility: visible;
  opacity: 1;
  height: 100%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu-mobile {
  padding-top: 2.5rem;
}

.menu-mobile__item {
  margin-bottom: 12px;
}

.menu-mobile__item:last-child {
  margin-bottom: 0;
}

.menu-mobile__link {
  font-weight: 500;
  font-size: 1.5rem;
}

/* ==========================================================================
   #HERO
   ========================================================================== */
.hero {
  position: relative;
}

@media (min-width: 1600px) {
  .hero {
    height: 100vh;
    padding-bottom: 5rem;
  }
}

.hero .container {
  position: relative;
}

.hero-col {
  width: 100%;
}

@media (min-width: 900px) {
  .hero-col--left {
    width: 43.54%;
  }
}

@media (min-width: 900px) {
  .hero-col--right {
    width: 56.46%;
  }
}

.hero-img {
  display: block;
  position: relative;
}

@media (min-width: 600px) {
  .hero-img {
    padding-top: 70px;
  }
}

.hero-img__pic {
  position: relative;
  left: -14px;
}

@media (max-width: 599px) {
  .hero-img__pic {
    width: auto;
    max-height: 475px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (min-width: 600px) {
  .hero-img__pic {
    left: -40px;
    width: 70%;
  }
}

@media (min-width: 900px) {
  .hero-img__pic {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .hero-img__pic {
    width: auto;
    left: -70px;
  }
}

@media (min-width: 1440px) {
  .hero-img__pic {
    margin-top: 0;
  }
}

.hero-content {
  padding-top: 36px;
}

@media (min-width: 900px) {
  .hero-content {
    padding-top: 150px;
  }
}

@media (min-width: 1200px) {
  .hero-content {
    padding-top: 180px;
  }
}

@media (min-width: 1440px) {
  .hero-content {
    padding-top: 230px;
  }
}

.hero-title {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.16;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .hero-title {
    font-size: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .hero-title {
    font-size: 3rem;
  }
}

.hero-title--primary {
  display: none;
}

@media (min-width: 900px) {
  .hero-title--primary {
    display: -webkit-box;
    display: flex;
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .hero-title--primary {
    margin-bottom: 3.375rem;
  }
}

.hero-title--secondary {
  position: absolute;
  top: 86px;
  left: 4.5%;
  z-index: 1;
}

@media (min-width: 900px) {
  .hero-title--secondary {
    display: none;
  }
}

.hero-title__icon {
  -webkit-box-flex: 0;
          flex: none;
  width: 60px;
  margin-right: 16px;
}

@media (min-width: 600px) {
  .hero-title__icon {
    width: 80px;
  }
}

@media (min-width: 1440px) {
  .hero-title__icon {
    width: 100px;
    margin-right: 28px;
  }
}

.hero-desc {
  margin-bottom: 2.5rem;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: 900px) {
  .hero-desc {
    font-size: 1.25rem;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .hero-desc {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .hero-desc {
    margin-bottom: 3.75rem;
    font-size: 1.9375rem;
  }
}

.hero-form .flex-row {
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .hero-form .flex-row {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
}

.hero-form .form__fields {
  width: 100%;
  max-width: 485px;
}

@media (min-width: 1440px) {
  .hero-form .form__fields {
    margin-right: 35px;
  }
}

.hero-form .form__group {
  margin-bottom: 10px;
}

@media (min-width: 900px) {
  .hero-form .form__group {
    margin-bottom: 20px;
  }
}

.hero-form .button {
  width: 100%;
  max-width: 485px;
}

@media (min-width: 1440px) {
  .hero-form .button {
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }
}

.hero-form .button .icon {
  display: none;
}

@media (min-width: 1440px) {
  .hero-form .button .icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 1440px) {
  .hero-form .button__text {
    display: none;
  }
}

.hero__pic {
  display: none;
}

@media (min-width: 1200px) {
  .hero__pic {
    display: block;
    position: absolute;
    top: 25px;
    right: -0;
    z-index: -1;
  }
}

.hero__next-link {
  display: none;
}

@media (min-width: 1600px) {
  .hero__next-link {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  .hero__next-link:hover {
    -webkit-transform: translate(-50%, 8px);
            transform: translate(-50%, 8px);
  }
}

/* ==========================================================================
   #BENEFITS
   ========================================================================== */
.benefits {
  padding-top: 65px;
  background-repeat: no-repeat;
  background-position: left 55% bottom 30px;
}

@media (min-width: 1200px) {
  .benefits {
    padding-top: 100px;
    background-image: url(../img/spots-4.png);
  }
}

@media (min-width: 1440px) {
  .benefits {
    padding-top: 175px;
  }
}

.benefits-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: -14px;
  margin-right: -14px;
}

@media (min-width: 1200px) {
  .benefits-list {
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}

.benefits-list__item {
  width: 100%;
  margin-bottom: 3rem;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
}

@media (min-width: 1200px) {
  .benefits-list__item {
    flex-basis: 0%;
    max-width: 375px;
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
}

.benefits-list__content {
  width: 100%;
  max-width: 346px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-list__heading {
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 1.875rem;
}

@media (min-width: 900px) {
  .benefits-list__heading {
    margin-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .benefits-list__heading {
    margin-bottom: 42px;
  }
}

.benefits-list__heading--smaller {
  margin-bottom: 28px;
  font-size: 1.5625rem;
}

@media (min-width: 900px) {
  .benefits-list__heading--smaller {
    margin-bottom: 36px;
  }
}

@media (min-width: 1440px) {
  .benefits-list__heading--smaller {
    margin-bottom: 48px;
  }
}

.benefits-list__icon {
  position: relative;
  height: 140px;
  margin-bottom: 0.75rem;
  text-align: center;
}

@media (min-width: 900px) {
  .benefits-list__icon {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .benefits-list__icon {
    margin-bottom: 2rem;
  }
}

.benefits-list__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 140px;
}

/* ==========================================================================
   #PRICE
   ========================================================================== */
.price {
  padding-top: 1rem;
}

@media (min-width: 900px) {
  .price {
    padding-top: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .price {
    padding-top: 5rem;
  }
}

@media (min-width: 1440px) {
  .price {
    padding-top: 7.5rem;
  }
}

.price-row {
  margin-bottom: 4.5rem;
}

@media (min-width: 900px) {
  .price-row {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px) {
  .price-row {
    margin-bottom: 5.625rem;
  }
}

.price-col {
  width: 100%;
}

.price-col--left {
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding-left: 8px;
  text-align: center;
}

@media (min-width: 900px) {
  .price-col--right {
    -webkit-box-flex: 0;
            flex: none;
    max-width: 360px;
  }
}

@media (min-width: 1200px) {
  .price-col--right {
    max-width: 416px;
  }
}

@media (min-width: 1440px) {
  .price-col--right {
    max-width: 450px;
  }
}

.price-list {
  margin-top: 3rem;
}

@media (min-width: 900px) {
  .price-list {
    margin-top: 0.75rem;
  }
}

.price-list__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 416px;
  min-height: 126px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 12px 36px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  -webkit-transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
}

.price-list__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .price-list__item {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .price-list__item {
    min-height: 174px;
    padding: 24px 36px 24px 56px;
  }
}

.price-list__item:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.price-list__text {
  color: #000;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .price-list__text {
    font-size: 1.5rem;
  }
}

.price-list__cost {
  margin-top: 0.25rem;
  font-size: 2rem;
  line-height: 1.15;
  color: #ff6464;
}

@media (min-width: 1200px) {
  .price-list__cost {
    margin-top: 0.75rem;
    font-size: 1.75rem;
  }
}

.price-list__cost small {
  font-size: 60%;
}

.price-form .flex-row {
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-left: -22px;
  margin-right: -22px;
}

.price-form .form__group {
  width: 100%;
  max-width: 398px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 10px;
}

.price-form .button {
  width: 100%;
  max-width: 398px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .price-form .button {
    max-width: 300px;
  }
}

/* ==========================================================================
   #FAQ
   ========================================================================== */
.faq {
  padding-top: 4rem;
}

@media (min-width: 1200px) {
  .faq {
    padding-top: 6rem;
  }
}

@media (min-width: 1440px) {
  .faq {
    padding-top: 166px;
  }
}

.faq-list {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.faq-list__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #000;
}

.faq-list__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .faq-list__item {
    margin-bottom: 15px;
  }
}

.faq-list__item--answer {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.faq-list__item--question > * {
  background-color: #bdffd7;
}

.faq-list__item--answer > * {
  background-color: #fff8df;
}

.faq-list__icon {
  -webkit-box-flex: 0;
          flex: none;
  position: relative;
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.faq-list__item--question .faq-list__icon {
  margin-right: 22px;
}

.faq-list__item--answer .faq-list__icon {
  margin-left: 19px;
}

.faq-list__icon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.faq-list__text {
  position: relative;
  padding: 14px 22px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
}

@media (min-width: 900px) {
  .faq-list__text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .faq-list__text {
    padding: 14px 40px;
    font-size: 1.5rem;
    border-radius: 50px;
  }
}

.faq-list__item--answer .faq-list__text {
  width: 100%;
  max-width: 957px;
  font-weight: normal;
  font-size: 0.875rem;
}

@media (min-width: 900px) {
  .faq-list__item--answer .faq-list__text {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .faq-list__item--answer .faq-list__text {
    font-size: 1.25rem;
  }
}

.faq-list__text::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-90%, -50%);
          transform: translate(-90%, -50%);
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-width: 0;
  border-right-color: #bdffd7;
}

.faq-list__item--answer .faq-list__text::after {
  left: auto;
  right: 0;
  -webkit-transform: translate(90%, -50%);
          transform: translate(90%, -50%);
  border-left-width: 8px;
  border-right-width: 0;
  border-left-color: #fff8df;
}

.faq-list__text a {
  color: #698aff;
  text-decoration: underline;
}

a.faq-contact {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1rem;
}

@media (min-width: 900px) {
  a.faq-contact {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  a.faq-contact {
    font-size: 1.5rem;
  }
}

/* ==========================================================================
   #REVIEWS
   ========================================================================== */
.reviews {
  padding-top: 114px;
}

@media (min-width: 1200px) {
  .reviews {
    padding-top: 150px;
  }
}

.reviews-carousel__wrapper {
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 2.5rem;
}

@media (min-width: 900px) {
  .reviews-carousel__wrapper {
    margin-bottom: 4.5rem;
  }
}

.reviews-carousel__cell {
  width: 100%;
  padding: 8px 16px 16px 16px;
}

.reviews-carousel__cell:focus {
  outline: none;
}

.reviews-slide {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 36px 16px 34px 16px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

@media (min-width: 900px) {
  .reviews-slide {
    padding: 52px 102px 58px 102px;
  }
}

.reviews-slide__img {
  -webkit-box-flex: 0;
          flex: none;
  position: relative;
  width: 147px;
  height: 147px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 900px) {
  .reviews-slide__img {
    width: 171px;
    height: 171px;
    margin-bottom: 0;
  }
}

.reviews-slide__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.reviews-slide__body {
  width: 100%;
  color: #000;
  text-align: center;
}

@media (min-width: 900px) {
  .reviews-slide__body {
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-basis: 0;
    padding-left: 5%;
    text-align: left;
  }
}

.reviews-slide__heading {
  margin-bottom: 1.25rem;
  font-weight: 500;
}

@media (min-width: 900px) {
  .reviews-slide__heading {
    font-size: 1.5rem;
  }
}

.reviews-slide__text {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

@media (min-width: 900px) {
  .reviews-slide__text {
    margin-bottom: 44px;
    font-size: 1.25rem;
  }
}

.carousel-nav__btn {
  position: absolute;
  top: 98px;
  left: 30px;
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

.carousel-nav__btn:focus {
  outline: none;
}

.carousel-nav__btn:focus .icon {
  opacity: 0.5;
}

@media (min-width: 900px) {
  .carousel-nav__btn {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.carousel-nav__btn-next {
  left: auto;
  right: 30px;
}

.carousel-nav__btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews-bottom__label,
.reviews-bottom__link {
  display: inline-block;
  font-weight: 300;
}

/* ==========================================================================
   #CONTACTS
   ========================================================================== */
.contacts {
  padding-top: 130px;
  padding-bottom: 3rem;
}

@media (min-width: 1440px) {
  .contacts {
    padding-top: 206px;
  }
}

.contacts-col {
  width: 100%;
}

@media (min-width: 900px) {
  .contacts-col--left {
    width: 35.923%;
    padding-left: 24px;
    padding-right: 44px;
  }
}

.contacts-col--right {
  -webkit-box-ordinal-group: 0;
          order: -1;
}

@media (min-width: 900px) {
  .contacts-col--right {
    -webkit-box-ordinal-group: 1;
            order: 0;
    width: 64.077%;
  }
}

.contacts-subheading {
  margin-bottom: 1rem;
  padding-top: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
}

@media (min-width: 900px) {
  .contacts-subheading {
    margin-bottom: 38px;
    padding-top: 106px;
  }
}

.contacts-form {
  width: 100%;
  max-width: 398px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 66px;
}

.contacts-form .form__group {
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .contacts-form .form__group {
    margin-bottom: 34px;
  }
}

.contacts-form .button {
  width: 100%;
}

.contacts__bottom {
  text-align: center;
}

@media (min-width: 900px) {
  .contacts__bottom {
    text-align: left;
  }
}

.contacts__phone {
  display: block;
  margin-bottom: 2.25rem;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  .contacts__phone {
    tmargin-bottom: 58px;
  }
}

/* ==========================================================================
   #FOOTER
   ========================================================================== */
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
}

.footer__rights {
  text-align: center;
}

@media (max-width: 599px) {
  .footer__rights {
    font-size: 0.875rem;
  }
}

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
.button {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  font-weight: 300;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

@-webkit-keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.button--primary {
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  color: #fff;
  border-color: #ff6464;
  background-color: #ff6464;
}

.button--primary:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 6px solid #ff6464;
  border-radius: inherit;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.button--primary:hover:before,
.button--primary:focus:before,
.button--primary:active:before {
  -webkit-animation-name: ripple-out;
          animation-name: ripple-out;
}

/* ==========================================================================
   #BRAND
   ========================================================================== */
.brand__wrapper {
  margin-right: auto;
}

.brand {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: #353535;
}

.brand:hover {
  text-decoration: none;
  color: #353535;
}

.brand--header {
  margin-right: 2rem;
}

/* ==========================================================================
   #ICON
   ========================================================================== */
.icon {
  display: block;
}

.icon-arrow-left {
  width: 44px;
  height: 43px;
  fill: white;
}

.icon-chevron-down {
  width: 24px;
  height: 13px;
}

.icon-chevron-left {
  width: 8px;
  height: 14px;
}

.icon-chevron-right {
  width: 8px;
  height: 14px;
}

.icon-clock {
  width: 89px;
  height: 111px;
}

.icon-like {
  width: 41px;
  height: 42px;
}

.icon-user {
  width: 33px;
  height: 36px;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
.form-control__wrapper {
  position: relative;
}

.form-control {
  display: block;
  width: 100%;
  padding: 16px 24px;
  border: 1px solid #e4e4e4;
  border-radius: 50px;
  font-weight: 300;
  font-size: inherit;
  line-height: 1.15;
  color: inherit;
  box-shadow: none;
  -webkit-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #7c7c7c;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.2;
  text-align: center;
  color: #000;
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }
}

.title--benefits {
  margin-bottom: 2.5rem;
}

@media (min-width: 900px) {
  .title--benefits {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .title--benefits {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1440px) {
  .title--benefits {
    margin-bottom: 9rem;
  }
}

.title--price {
  margin-bottom: 3rem;
}

@media (min-width: 900px) {
  .title--price {
    margin-bottom: 2.5rem;
  }
}

.title--faq {
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .title--faq {
    margin-bottom: 3.125rem;
  }
}

.title--reviews {
  margin-bottom: 2.625rem;
}

@media (min-width: 1200px) {
  .title--reviews {
    margin-bottom: 4.1875rem;
  }
}

.title--contacts {
  margin-bottom: 1rem;
}

@media (min-width: 900px) {
  .title--contacts {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  .title--contacts {
    margin-bottom: 3rem;
  }
}

/* ==========================================================================
   #LABELED-ROW
   ========================================================================== */
.labeled-row {
  font-weight: 300;
  color: #000;
}

.labeled-row__label,
.labeled-row__link {
  display: inline-block;
  margin-bottom: 0.25rem;
}

@media (max-width: 599px) {
  .labeled-row__label,
  .labeled-row__link {
    display: block;
  }
}

.labeled-row__label {
  margin-right: 48px;
}

@media (max-width: 599px) {
  .labeled-row__label {
    margin-right: 0;
  }
}

.labeled-row__link {
  text-decoration: underline;
}

.labeled-row--reviews-slide {
  font-size: 0.875rem;
  color: #7c7c7c;
}

@media (min-width: 900px) {
  .labeled-row--reviews-slide {
    font-size: 1.25rem;
  }
}

.labeled-row--reviews {
  text-align: center;
}

@media (min-width: 900px) {
  .labeled-row--reviews {
    text-align: left;
    margin-left: 6.46%;
  }
}

.labeled-row--reviews .labeled-row__label {
  font-size: 0.875rem;
}

@media (min-width: 900px) {
  .labeled-row--reviews .labeled-row__label {
    font-size: 1.25rem;
  }
}

.labeled-row--contacts .labeled-row__label {
  margin-bottom: 1.75rem;
}

@media (min-width: 900px) {
  .labeled-row--contacts .labeled-row__label {
    margin-bottom: 0.25rem;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 2px 0px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.6;
}

.hamburger.is-active:hover {
  opacity: 0.6;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 20px;
  height: 14px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 1px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 6px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 12px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 6px, 0) rotate(45deg);
          transform: translate3d(0, 6px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 6px, 0) rotate(-45deg);
          transform: translate3d(0, 6px, 0) rotate(-45deg);
}

.hamburger {
  line-height: 1;
  outline: none;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
}

@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
