/* ==========================================================================
   #BASE STYLES
   ========================================================================== */
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #fff;
  overflow-x: hidden;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

::placeholder {
  color: $gray-light;
  opacity: 1
}

input:focus::placeholder,
textarea:focus::placeholder {
  color:transparent;
}

.container {
  padding-left: 14px;
  padding-right: 14px;

  @include for-size(tablet-p-up) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include for-size(tablet-l-up) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include for-size(desktop-up) {
    padding-left: 76px;
    padding-right: 76px;
  }

  @include for-size(lg-desktop-up) {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.container-fluid {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.error {
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: rem(14);
  color: red;
  text-align: center;
}