/* ==========================================================================
   #BUTTONS
   ========================================================================== */
.button {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  font-weight: 300;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@keyframes ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.button--primary {
  position: relative;
  transform: perspective(1px) translateZ(0);
  color: #fff;
  border-color: $primary-color;
  background-color: $primary-color;
}

.button--primary:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 6px solid $primary-color;
  border-radius: inherit;
  animation-duration: 1s;
}
.button--primary:hover:before,
.button--primary:focus:before,
.button--primary:active:before {
  animation-name: ripple-out;
}
