/* ==========================================================================
   #TITLE
   ========================================================================== */

.title {
  font-weight: 500;
  font-size: rem(40);
  line-height: 1.2;
  text-align: center;
}

.title--benefits {
  margin-bottom: 9rem;
}

.title--price {
  margin-bottom: 2.5rem;
}

