/* ==========================================================================
   #FOOTER
   ========================================================================== */

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
}

.footer__rights {
  text-align: center;

  @include for-size(phone-only) {
    font-size: rem(14);
  }
}