/* ==========================================================================
   #HERO
   ========================================================================== */

.hero {
  position: relative;

  @media (min-width: 1600px) {
    height: 100vh;
    padding-bottom: 5rem;
  }
}

.hero .container {
  position: relative;
}

.hero-col {
  width: 100%;
}

.hero-col--left {
  @include for-size(tablet-l-up) {
    width: 43.54%;
  }
}

.hero-col--right {
  @include for-size(tablet-l-up) {
    width: 56.46%;
  }
}

.hero-img {
  display: block;
  position: relative;

  @include for-size(tablet-p-up) {
    padding-top: 70px;
  }
}

.hero-img__pic {
  position: relative;
  left: -14px;

  @include for-size(phone-only) {
    width: auto;
    max-height: 475px;
    object-fit: contain;
  }

  @include for-size(tablet-p-up) {
    left: -40px;
    width: 70%;
  }

  @include for-size(tablet-l-up) {
    width: auto;
  }

  @include for-size(desktop-up) {
    width: auto;
    left: -70px;
  }

  @include for-size(lg-desktop-up) {
    margin-top: 0;
  }
}

.hero-content {
  padding-top: 36px;

  @include for-size(tablet-l-up) {
    padding-top: 150px;
  }

  @include for-size(desktop-up) {
    padding-top: 180px;
  }

  @include for-size(lg-desktop-up) {
    padding-top: 230px;
  }
}

.hero-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: rem(20);
  line-height: 1.16;
  text-transform: uppercase;
  
  @include for-size(tablet-p-up) {
    font-size: rem(28);
  }

  @include for-size(desktop-up) {
    font-size: rem(32);
  }

  @include for-size(lg-desktop-up) {
    font-size: rem(48);
  }
}

.hero-title--primary {
  display: none;
  
  @include for-size(tablet-l-up) {
    display: flex;
    margin-bottom: 2.5rem;
  }

  @include for-size(desktop-up) {
    margin-bottom: rem(54);
  }
}

.hero-title--secondary {
  position: absolute;
  top: 86px;
  left: 4.5%;
  z-index: 1;

  @include for-size(tablet-l-up) {
    display: none;
  }
}

.hero-title__icon {
  flex: none;
  width: 60px;
  margin-right: 16px;

  @include for-size(tablet-p-up) {
    width: 80px;
  }

  @include for-size(lg-desktop-up) {
    width: 100px;
    margin-right: 28px;
  }
}

.hero-desc {
  margin-bottom: 2.5rem;
  font-weight: bold;
  font-size: rem(18);
  line-height: 1.2;
  text-align: center;

  @include for-size(tablet-l-up) {
    font-size: rem(20);
    text-align: left;
  }

  @include for-size(desktop-up) {
    margin-bottom: 3rem;
    font-size: rem(24);
  }

  @include for-size(lg-desktop-up) {
    margin-bottom: 3.75rem;
    font-size: rem(31);
  }
}

.hero-form .flex-row {
  justify-content: center;
  align-items: center;

  @include for-size(tablet-l-up) {
    justify-content: flex-start;
  }
}

.hero-form .form__fields {
  width: 100%;
  max-width: 485px;

  @include for-size(lg-desktop-up) {
    margin-right: 35px;
  }
}

.hero-form .form__group {
  margin-bottom: 10px;

  @include for-size(tablet-l-up) {
    margin-bottom: 20px;
  }
}

.hero-form .button {
  width: 100%;
  max-width: 485px;

  @include for-size(lg-desktop-up) {
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }
}

.hero-form .button .icon {
  display: none;

  @include for-size(lg-desktop-up) {
    display: block;
    @include vertical-center;
  }
  
}

.hero-form .button__text {
  

  @include for-size(lg-desktop-up) {
    display: none;
  }
}

.hero__pic {
  display: none;

  @include for-size(desktop-up) {
    display: block;
    position: absolute;
    top: 25px;
    right: -0;
    z-index: -1;
  }
}

.hero__next-link {
  display: none;

  @media (min-width: 1600px) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform $ease-main;

    &:hover {
      transform: translate(-50%, 8px);
    }
  }
}