/* ==========================================================================
   #HERO
   ========================================================================== */

.hero {
  position: relative;

  @include for-size(lg-desktop-up) {
    // height: 100vh;
    padding-bottom: 5rem;
  }
}

.hero-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: rem(48);
  line-height: 1.16;
  text-transform: uppercase;
}

.hero-title--primary {
  margin-bottom: rem(54);
}

.hero-title--secondary {

  display: none;
}

.hero-title__icon {
  flex: none;
  width: 100px;
  margin-right: 28px;
}

.hero-col--left {
  width: 43.54%;
}

.hero-col--right {
  width: 56.46%;
}

.hero-img {
  position: relative;
  left: -70px;
}

.hero-content {
  padding-top: 230px;
}

.hero-desc {
  margin-bottom: 3.75rem;
  font-weight: bold;
  font-size: rem(31);
  line-height: 1.2;
}

.hero-form {
  padding-right: 3.888889vw;
}

.hero-form .form__fields {
  width: 100%;
  max-width: 485px;
  margin-right: 35px;
}

.hero-form .form__group {
  margin-bottom: 20px;
}

.hero-form .button {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.hero-form .button .icon {
  @include vertical-center;
}

.hero-form .button__text {
  display: none;
}

.hero__next-link {
  display: none;

  @include for-size(lg-desktop-up) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform $ease-main;

    &:hover {
      transform: translate(-50%, 8px);
    }
  }
}